
.vs/ProjectEvaluation/orientatec_mvc.projects.v7.bin
.vs/ProjectEvaluation/orientatec_mvc.metadata.v7.bin
.vs/OrientaTEC_MVC/v17/DocumentLayout.json
.vs/OrientaTEC_MVC/v17/.suo
.vs/OrientaTEC_MVC/v17/.futdcache.v2
.vs/OrientaTEC_MVC/FileContentIndex/f6207a00-3c19-4c76-a17e-9245b800fd14.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/f0c0fd99-5a8c-4940-8bb0-25632f73a3a2.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/7cf886ce-ade9-48fb-97e0-7ee46c58e244.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/7b5be89e-72ac-4eaf-9227-7d9cb0394784.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/670faa72-d35d-485a-8aae-90180f51d2d8.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/57cfbfba-2a5b-4dc6-a294-f1556c1fc1cb.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/566ab9f3-abdb-459d-a984-e098cf0ebb75.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/39043974-dcef-46fa-848d-f2c79381ba75.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/2ab2313b-2320-42cd-9bcd-f0cb7f5ebdc3.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/09aacc10-77ff-4441-af30-5f61e3a5e20d.vsidx
.vs/OrientaTEC_MVC/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/orientatec_mvc.projects.v7.bin
.vs/ProjectEvaluation/orientatec_mvc.metadata.v7.bin
.vs/OrientaTEC_MVC/v17/DocumentLayout.json
.vs/OrientaTEC_MVC/v17/.suo
.vs/OrientaTEC_MVC/v17/.futdcache.v2
.vs/OrientaTEC_MVC/FileContentIndex/f2e73ce5-5ff4-4a1b-8649-bf78c1aa1e60.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/dfb11467-cc0d-4fbc-aeaa-5806d05c68b8.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/7cf886ce-ade9-48fb-97e0-7ee46c58e244.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/7b5be89e-72ac-4eaf-9227-7d9cb0394784.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/57cfbfba-2a5b-4dc6-a294-f1556c1fc1cb.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/566ab9f3-abdb-459d-a984-e098cf0ebb75.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/09aacc10-77ff-4441-af30-5f61e3a5e20d.vsidx
.vs/OrientaTEC_MVC/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/orientatec_mvc.projects.v7.bin
.vs/ProjectEvaluation/orientatec_mvc.metadata.v7.bin
.vs/OrientaTEC_MVC/v17/DocumentLayout.json
.vs/OrientaTEC_MVC/v17/.suo
.vs/OrientaTEC_MVC/v17/.futdcache.v2
.vs/OrientaTEC_MVC/FileContentIndex/7cf886ce-ade9-48fb-97e0-7ee46c58e244.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/7b5be89e-72ac-4eaf-9227-7d9cb0394784.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/57cfbfba-2a5b-4dc6-a294-f1556c1fc1cb.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/566ab9f3-abdb-459d-a984-e098cf0ebb75.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/09aacc10-77ff-4441-af30-5f61e3a5e20d.vsidx
.vs/OrientaTEC_MVC/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/orientatec_mvc.projects.v7.bin
.vs/ProjectEvaluation/orientatec_mvc.metadata.v7.bin
.vs/OrientaTEC_MVC/v17/DocumentLayout.json
.vs/OrientaTEC_MVC/v17/.suo
.vs/OrientaTEC_MVC/v17/.futdcache.v2
.vs/OrientaTEC_MVC/FileContentIndex/7cf886ce-ade9-48fb-97e0-7ee46c58e244.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/7b5be89e-72ac-4eaf-9227-7d9cb0394784.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/57cfbfba-2a5b-4dc6-a294-f1556c1fc1cb.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/566ab9f3-abdb-459d-a984-e098cf0ebb75.vsidx
.vs/OrientaTEC_MVC/FileContentIndex/09aacc10-77ff-4441-af30-5f61e3a5e20d.vsidx
.vs/OrientaTEC_MVC/DesignTimeBuild/.dtbcache.v2
.vs/OrientaTEC_MVC/FileContentIndex/c7f46811-9fdd-4a0d-86c0-7a4c5e3f3823.vsidx
