@{
    ViewData["Title"] = "Students Page";
}


<head>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
</head>


@section StudentHeaderContent{



    <div class="nuevo">

        <ul class="sub">

            <li><a> <i class="ri-notification-3-fill"></i></a> </li>

            <li>
                <a><i class="ri-account-circle-line"></i></a></li>

        </ul>

       

    </div>
}




<style>


    .sub{
        margin: 0;
        padding: 0;
        display:flex;
        list-style: none;
        text-decoration: none;
        color: #4082D0;
    }


   

    .sub i {
       
        padding: 5px 0;
        margin: 0px 30px;
        font-size:35px;
        vertical-align:middle;
    }

       

</style>